/* Your custom styles */
/*Photo by Victoria Palacios on Unsplash*/
/*Photo by STIL on Unsplash*/
/*Photo by Adam Grabek on Unsplash*/
body  {
  font-family: 'Orbitron', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Rokkitt', serif;
  font-size: 1.5em;
  background:#ACD7E5;
}
.address-icon i{
	font-size: 36px;
	line-height: 32px;
}
.icons i{
	color: #fff;
	padding: 8px 0px;
	text-align: center;
	height: 30px;
	width: 30px;
	margin-right: 5px;
}
